<%
  var maxScores = [6, 31, 8, 9, 18, 14, 12, 14, 11, 11, 15, 11, 10, 0];
  var totalMaxScore = 0;
  for (let i = 0; i < currentWeek; i++) {
      totalMaxScore += maxScores[i];
  }
  var totalScore = 0;
  for (let i = 0; i < currentWeek; i++) {
      totalScore += grades[i].grade;
  }

  var percentage = (totalScore * 100.0 / totalMaxScore).toFixed(2);
%>

<h1>Grades</h1>
<p>Percentage: <%=percentage %>%</p>
<table>
<% for (let i = 0; i < currentWeek; i++) { %> 
<tr><td>Week <%=i + 1 %></td><td><%=grades[i].grade %></td><td><%=maxScores[i] %></td></tr>
<% } %>
</table>
<p>Total Score: <%=totalScore %> / <%=totalMaxScore %></p>
        
