<%
  var maxScores = [6, 31, 8, 9, 18, 14, 12, 14, 11, 11, 15, 11, 10, 0];
  var totalMaxScore = 0;
  for (let i = 0; i < currentWeek; i++) {
      totalMaxScore += maxScores[i];
  }
  var totalScore = 0;
  for (let i = 0; i < currentWeek; i++) {
      totalScore += grades[i].grade;
  }

  var percentage = (totalScore * 100.0 / totalMaxScore).toFixed(2);
  var passFail = "";
  var passFailColor = "";
  if (currentWeek == 14) {
      if (percentage >= 70) {
          passFail = "PASS";
          passFailColor = "green"; 
      } else {
          passFail = "FAIL";
          passFailColor = "red";
      }
  } else {
      passFail = "";
  }

%>

<div class="heading"><h1>GRADES</h1></div>
<table id="gradesTable">
<tr>
  <th></th>
  <th>Score</th>
  <th>Out of</th>
</tr>
<% for (let i = 0; i < currentWeek; i++) { %> 
<tr><td><a href="lesson">Week <%=i + 1 %></a></td><td><%=grades[i].grade %></td><td><%=maxScores[i] %></td></tr>
<% } %>
<tr>
  <td>Total Score</td>
  <td><%=totalScore %></td>
  <td><%=totalMaxScore %></td>
</tr>
<tr>
  <td>Percentage</td>
  <td></td>
  <td><%=percentage %>%</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td style="color: <%=passFailColor %>"><%=passFail %></td>
</tr>
</table>
<p>Total Score: <%=totalScore %> / <%=totalMaxScore %></p>
<p>Percentage: <%=percentage %>%</p>
        
