<%
  var lessons = "<li id='lessons'><a href='lesson'>Lessons</a></li>";
  var gradesTab = "<li id='grades'><a href='grades'>Grades</a></li>";
  var welcome = "<p id='welcome'>Welcome " + firstName + "!</p>";
  var changePassword = "<li id='changePassword'><a href='changePassword'>Change Password</a></li>";
  var signout = "<li id='signout'><a href='signout'>Sign out <i class='fa fa-sign-out'></i></a></li>";
  var signin = "<li id='signin'><a href='signin'>Sign in <i class='fa fa-sign-in'></i></a></li>";
  var dotsButton = "<button id='dotsButton' onclick='toggleDotsMenu()''><a href='javascript:void(0);''><i class='fa fa-ellipsis-v'></i></a></button>"
  var dotsMenu =  "<ul id='dotsMenu'>" + signout + changePassword + "</ul>";
  var hamburgerButton = "<button id='hamburgerButton' onclick='toggleHamburgerMenu();'>&#9776;</button>";

  var menu = "";
  if (firstName == null) {
      menu += signin;
      dotsButton = "";
      dotsMenu = "";
      hamburgerButton = "";
  } else {
      menu += lessons + gradesTab + welcome;
  }
%>

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ivoire English Pro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/small.css">
    <link rel="stylesheet" href="css/large.css">
  </head>

  <body>
    <header>
      <nav class="clearfix">
        <%-hamburgerButton %>
        <div id='homepage'><a href='home'><img src='images/logo2.jpg'></a></div>
        <ul id="primaryNav" class="hide">
          

          <%-menu %>
        </ul>
      </nav>
      <%-dotsButton %>
      <%-dotsMenu %>
    </header>
    <main>
    <%- include(page + ".ejs"); %>
    </main>
    <!--Footer-->
    <footer id="footer">
        &copy; 2019 &bull; Freddy Kouakou &bull; kou17001@byui.edu
    </footer>
  </body>

</html>
<%
  if (firstName == null) {
      signedIn = "f";
  } else {
      signedIn = "t";
  }
%>
<script>
  if (<%=page %> != "admin") {
      $("#<%=page %>").addClass("active");
  }

  if ("<%=signedIn %>" == "f") {
      $("#homepage").css("left", "0");
  }

</script>

